
body {
	font-family: Arial;
}
.Thumb {
	width:100px;
	height:100px;
	 
	margin-top:10px;
}



.Thumb:hover {
  border: 5px solid #4d4d4d;
}


.Big {
	width:100%;
}
.closebtn{
	position: absolute;
	top: 5px;
	right: 25px;
	color:red;
	font-size: 15px;
	cursor:pointer;
}
.textDescLeft{
	text-align:left;
}
.textDescCenter{
	text-align:center;
}
.textDescRight{
	text-align:right;
}

		
.top {
	
	background-color:pink;
	
}


.top img {
 height: 100px;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  background-color:gray;
  overflow-x: hidden;
  padding-top: 0;
	 
	
}


