.bg-rosso {
    background-color: #CC3333 !important;
}

.bg-nero {
    background-color: #1A1110 !important;
}

.bg-mogano {
    background-color: #C04000 !important;
}

.bg-grigio {
    background-color: #E5E4E2 !important;
}

.bg-castano {
    background-color: #993300 !important;
}

.bg-neutro {
    background-color: #FFFAF0 !important;
}

.bg-biondo {
    background-color: #FDEE00 !important;
}

.bg-arancione {
    background-color: #FF5800 !important;
}

.bg-tiziano {
    background-color: #Ba6262 !important;
}